<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="Toe.Math" version="1.4.0" targetFramework="net452" />
</packages>